<?xml version="1.0"?>

<model>
    <name>cylinder-2-light</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Filipa R. Ferreira</name>
        <email>filiparamos@fe.up.pt</email>
    </author>

    <description>
        A very light cylinder object.
        radius .1 / height .8 / mass 0.005
    </description>

</model>