{
    "action_space": {
        "actions": {
            "move_forward": 0,
            "move_left_1": 1,
            "move_left_2": 2,
            "move_right_1": 3,
            "move_right_2": 4
        },
        "parameters": {
            "max_turn": 1.82,
            "max_vel": 0.26
        }
    }
}