{
    "sim": {
        "world": { "width": 3.0,
                   "length": 4.0,
                   "height": 2,
                   "walls": 4,

                   "robot": { "name": "robot",
                              "type": "turtlebot",
                              "id": "turtlebot3_burger",
                              "radius": 0.20,
                              "pos": { "x": -1.0, "y": 0.0, "z": 0.0 }
                   },
                    
                   "goal": { "name": "goal",
                             "type": "CYL",
                             "id": "marker",
                             "radius": 0.3,
                             "length": 0.0001,
                             "mass": 0,
                             "pos": { "x": 3.5, "y": 0.0, "z": 0.0 }
                   },
                   "target_cyl": { "name": "target_cyl",
                                    "type": "CYL",
                                    "id": "cylinder-2",
                                    "radius": 0.2,
                                    "length": 0.6,
                                    "mass": 0.04,
                                    "pos": { "x": 1.0, "y": 0.3, "z": 0.3 }
                   },

                   "objects": {
                        "obj-1": { "name": "objects-1",
                                "type": "BOX",
                                "width_range": [0.2, 0.4],
                                "length_range": [0.2, 0.5],
                                "height_range": [0.2, 1],
                                "count": 3
                                },
                        "obj-2": { "name": "objects-2",
                                "type": "CYL",
                                "radius_range": [0.08, 0.3],
                                "length_range": [0.2, 0.35],
                                "count": 2
                        }
                   }
        },
        "max_steps": 3000
    },
    "obs": {
        "robot": 1,
        "target_cyl": 1,
        "goal": 1,
        "precision": 0.01,
        "places": 2
    }
}