{
    "sim": {
        "goal": { "name": "goal",
                  "type": "CYL",
                  "radius": 0.1,
                  "length": 0.0001,
                  "mass": 0,
                  "pos": { "x": 3.5, "y": 0, "z": 0 }
        },
        "target_cyl": { "name": "target_cyl",
                        "type": "CYL",
                        "radius": 0.2,
                        "length": 0.6,
                        "mass": 0.05,
                        "pos": { "x": 1, "y": 0.3, "z": 0.3 }
        },

        "objects": {
            "obj-1": { "name": "objects-1",
                       "type": "BOX",
                       "width_range": [0.2, 0.4],
                       "length_range": [0.2, 0.5],
                       "height_range": [0.2, 1],
                       "count": 3
                    },
            "obj-2": { "name": "objects-2",
                       "type": "CYL",
                       "radius_range": [0.08, 0.3],
                       "length_range": [0.2, 0.35],
                       "count": 2
            }
        }
    }
}