<?xml version="1.0"?>

<model>
    <name>wall</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Filipa R. Ferreira</name>
        <email>filiparamos@fe.up.pt</email>
    </author>

    <description>
        The wall that limits the simulation world.
    </description>

</model>